EMAIL=test.com
PASSWORD=password
LOCAL_PATH=Downloads
LESSONS_FOLDER=lessons
SERIES_FOLDER=series
TIMEZONE=Europe/London
VIDEO_QUALITY=1080p
DOWNLOAD_SOURCE=vimeo
# DOWNLOAD_SOURCE=laracasts
# SUB_LANGS=en,en-x-autogen
