EMAIL=test.com
PASSWORD=password
LOCAL_PATH=Downloads
LESSONS_FOLDER=lessons
SERIES_FOLDER=series
TIMEZONE=Europe/London
VIDEO_QUALITY=1080p
DOWNLOAD_SOURCE=mux
# DOWNLOAD_SOURCE=laracasts
# Download subtitles when available (true/false, default: false)
# DOWNLOAD_SUBTITLES=true
